@charset "UTF-8";
@import url(main.css);
@import url(intro.css);

/* 공통*/
footer {width: 100%; text-align: center; font-size: 1.5rem;}
.con_wrap {width: 100%;}

/* nav*/
.gnb {background: #fff; border-bottom: 1px solid #6DA9E0; font-family:var(--f_nsR); font-weight: 900;}
.gnb ul {display:flex; flex-direction: row;justify-content: center;align-items: center;padding: 24px 110px;gap: 50px;}
.gnb ul li a {display: flex;flex-direction: row; align-items: center; padding: 0px; gap: 4px; color:#cacaca;font-size:2rem;font-weight:800;}

.gnb ul li .menu_ico {width:28px; height:28px;}
.gnb ul li .menu_ico.num1 {background: url(../images/common/ico_menu_s_01.svg) no-repeat 50%;}
.gnb ul li .menu_ico.num2 {background: url(../images/common/ico_menu_s_02.svg) no-repeat 50%;}
.gnb ul li .menu_ico.num3 {background: url(../images/common/ico_menu_s_03.svg) no-repeat 50%;}
.gnb ul li .menu_ico.num4 {background: url(../images/common/ico_menu_s_04.svg) no-repeat 50%;}

/* nav on*/
.gnb ul li.gnb_on a {color:#333;}
.gnb ul li.gnb_on .menu_ico.num1 {background: url(../images/common/ico_menu_s_01_on.svg) no-repeat 50%;}
.gnb ul li.gnb_on .menu_ico.num2 {background: url(../images/common/ico_menu_s_02_on.svg) no-repeat 50%;}
.gnb ul li.gnb_on .menu_ico.num3 {background: url(../images/common/ico_menu_s_03_on.svg) no-repeat 50%;}
.gnb ul li.gnb_on .menu_ico.num4 {background: url(../images/common/ico_menu_s_04_on.svg) no-repeat 50%;}

/* header */
.header.main {display: flex;flex-direction: row;justify-content: space-between;align-items: center;padding: 20px 40px;gap: 50px;isolation: isolate;
    background: url(../images/common/header_bg.jpg) no-repeat 50%;}
.header.main h1 {width: 149px;height: 40px;}

.member {display: flex;flex-direction: row;align-items: center;padding: 0px;gap: 20px;font-size:1.6rem}
.member .name {color:#fff;display: flex;flex-direction: row;align-items: center;padding: 0px;gap: 8px;}
.member .name span {font-weight: 900;}
.member .name i {width: 24px;height: 24px; background: url(../images/common/arrow_circle_white.svg) no-repeat;}

.member button.btn {font-family: var(--f_nsR); font-weight: 800; display: flex;flex-direction: row; align-items: center;}
.member button.btn i {width: 24px;height: 24px; background: url(../images/common/plus.svg) no-repeat; margin-left: 4px;}

/* 컨텐츠 시작*/
.container {display: flex; flex-direction: column; align-items: center;  gap: 3rem; padding: 40px 60px; font-family: var(--f_nsR); background: #F5F7FB; }

/* location*/
.lct_box {font-family: var(--f_nsR); width:100%; height: 68px; display: flex; flex-direction: row; align-items: center; gap: 12px;}
.lct_box .location {width: 275px; height: 46px;display: flex;align-items: center; padding: 15px 4px 6px; gap: 35px;}
.lct_box .location li {position:relative; line-height:1;font-size:1.5rem}
.lct_box .location li:not(:last-child)::before {content: ''; position: absolute; width: 14px;height: 14px; border-color: #777; right: -20px; top:calc(50% - .7rem); 
    border-right-width: 1px;border-bottom-width: 1px;border-right-style: solid;border-bottom-style: solid; transform: rotate(315deg);}

.title {display: flex;align-items: center;  font-style: normal; font-weight: 800; font-size: 4rem; line-height: 4.5rem; letter-spacing: -0.01em; color: var(--c_blue);}
.title::before {content: ''; display: block; width: 68px;height: 68px;}
.title.num1::before {background: url(../images/common/ico_tit_01.svg) no-repeat 50%;}
.title.num2::before {background: url(../images/common/ico_tit_02.svg) no-repeat 50%;}
.title.num3::before {background: url(../images/common/ico_tit_03.svg) no-repeat 50%;}
.title.num4::before {background: url(../images/common/ico_tit_04.svg) no-repeat 50%;}

/* top_box*/
.top_box {width: 100%; display: flex; gap: 20px;}
.top_box .inner {display: flex; justify-content: center; padding: 3rem 0; gap: 8rem; border-radius: 8px; border: 1px solid #EDEDED; background: #ffffff;width: 100%;}
.top_box .std {display: inline-flex; align-items: center;padding: 0px; gap: 10px;}
.top_box .std .btn_group {display: flex; align-items: center; gap: 10px;}
.top_box .std .btn_group .count_txt_input {width: 53px; height: 36px; border: 2px solid #E2E2E2; border-radius: 4px; text-align: center; font-family: var(--f_nsR);}
.top_box .std .btn_group button.circle_btn {width: 36px; height: 36px;}

.top_box .file {display: inline-flex;align-items: center; padding: 0px; gap: 10px;}
.top_box .inner .item p {line-height:1;font-weight: 800; font-size: 1.6rem; color: var(--c_blue);transform: skew(-0.001deg);}

/* exam - top_box icon*/
.ico_32 {display: block; width: 32px; height: 32px; text-indent:-999px;overflow:hidden;}
.ico_32.student {background: url(../images/common/ico_student.svg) no-repeat 50%;}
.ico_32.excel {background: url(../images/common/ico_excel.svg) no-repeat 50%;}

.ico_36 {display: block; width: 36px; height: 36px; text-indent:-999px;overflow:hidden;}
.ico_36.minus {background: url(../images/common/ico_minus.svg) no-repeat 50%;}
.ico_36.plus {background: url(../images/common/ico_plus.svg) no-repeat 50%;}

/* exam - 학생목록*/
.std_list {width:100%; position: relative;}
.std_list h3 {font-size:2.2rem; line-height:1; color: #555; letter-spacing: -0.005em; font-weight: 800; font-family:var(--f_nsN); margin: 10px 0 20px; display: inline-block;}
.std_list .table_wrap {display: flex; flex-direction: column; align-items: flex-start; margin-top: 30px;}
.std_list thead tr th {font-weight: 700;font-size: 1.6rem;}
.std_list tbody tr td {text-align: center;}
.std_list thead tr th, .std_list tbody tr td {width:5%;}
.std_list thead tr:nth-child(1) th:first-child {border-radius: 10px 0 0 0;}
.std_list thead tr:nth-child(1) th:last-child {border-radius: 0 10px 0 0 ;}
.std_list tbody tr td .input_txt {display: none;}
.std_list tbody tr input, .std_list tbody tr select {width:70px; height: 40px; border: none; text-align: center;font-size:1.6rem;font-weight:400;
    font-family:var(--f_nsR); color: #555;border-radius: 8px; border: 1px solid #E3EEF3;}
.std_list tbody tr .input_name {width:140px;}

/* exam - 학생목록 button icon*/
.std_list .test_learn {color:var(--c_blue); font-size:1.8rem; font-weight: 700;}
.std_list .test_miss {color: #AFAFAF; font-size:1.8rem; font-weight: 700;}

/* exam - footer*/
footer .main_ft {padding: 3vh 0;}
footer p{font-size:1.5rem}

/* modal css*/
/* modal 공통*/
.modal {position: absolute; display: none; width: 100%; height: auto; min-height: 100%; flex-direction: column; justify-content: center; align-items: center; left: 0; top: 0; background: rgba(0, 0, 0, 0.8); padding:2% 0;}
.modal .pop-test-wrap {width: 86%; height: 90%;}
.modal__wrap {position: relative; -webkit-animation: pop-show .5s; animation: pop-show .5s;}
@keyframes pop-show {
    0% {-webkit-transform: scale(.7); transform: scale(.7)}
    40% {-webkit-transform: scale(1.05); transform: scale(1.05)}
    90% {-webkit-transform: scale(.99); transform: scale(.99)}
    100% {-webkit-transform: scale(1); transform: scale(1)}
}

.modal__wrap.type01 {width: 100%; height: 100%;}
.modal__wrap .window {display: flex; width: 100%; height: 100%; }

/* 인트로__modal*/
.modal__wrap .test__intro {width: 100%; background-color:#fff;}
.test__intro .intro__wrap .bn_close {position: absolute; right:30px; top: 30px;}

/* modal type02 :: result 일괄인쇄 팝업창*/
.modal__wrap.type02 {width:28%; height:34%; overflow-y: visible;}
.modal__wrap .result__print {width: 100%; background-color: #fff;border: 3px solid var(--c_blue); border-radius: 8px; padding: 40px;}
.modal__wrap .print__wrap {width: 100%; height: 100%; text-align: center; }

.modal__wrap .result_print_hd {display: flex; line-height: 32px; gap: 10px;}
.modal__wrap .result_print_hd i.ico_prt {width: 32px; height: 32px; background: url(../images/common/print_blue.svg) no-repeat;}
.modal__wrap .result_print_hd h4 {font-weight: 800; font-size: 16px; color:var(--c_blue);}

.modal__wrap .print_btn_wrap {display: flex;gap: 10px; margin: 31px 0;}
.modal__wrap .print_btn_wrap .item {display: flex;}
.modal__wrap .print_btn_wrap .item button {padding: 12px 16px; border: 1px solid #CACACA; border-radius: 4px; color: #757575; background: #fff;}
.modal__wrap .print_btn_wrap .item button:hover {background:var(--c_blue); color: #fff; border: 1px solid var(--c_blue);}
.modal__wrap .print_btn_wrap .item button.on {background:var(--c_blue); color: #fff; border: 1px solid var(--c_blue);}

.modal__wrap .print_btn_wrap .item.num1 {width: 40%;}
.modal__wrap .print_btn_wrap .item.num1 button {width:100%;}
.modal__wrap .print_btn_wrap .item.num2 {width:60%; flex-wrap: wrap; gap: 10px;}
.modal__wrap .print_btn_wrap .item.num2 button {width:calc(50% - 10px); }

.modal__wrap .print__wrap a.btn {display: inline-block;}

.btn_close.type02 {display: block; width: 40px;  height: 40px; background: url(../images/common/btn_ico_d.svg) no-repeat; position: absolute;right: 40px; top: 40px;}

/* 진단하기 모달 컨텐츠 시작*/
.test__intro .intro__wrap {width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-between; background: url(../images/common/test_intro_bg01.png) no-repeat;
    background-size: 90%; background-position: 151px -48px;}
.test__intro .intro__wrap .con_wrap {display:flex; align-items: flex-end; margin-top: 100px;}

.test__intro .intro__wrap .con_wrap h2 {font-weight: 800; font-size: 8.4rem; line-height: 1; letter-spacing: -0.01em; color:var(--c_blue);}
.test__intro .intro__wrap .con_wrap .brand-name{font-weight: 800; font-size: 3rem; line-height: 1; letter-spacing: -0.01em; color: #545454;}

.test__intro .test_intro_hd {width: 85%; justify-content: space-between; margin: auto; }
.test__intro .test_intro_hd .title_box {display: flex; flex-direction: column; gap: 10px; width:50%;}
.test__intro .test_intro_hd .title_box .sub_txt {margin: 10px 0 30px; font-size: 2.3rem; font-family: var(--f_nsN); font-weight: 700; letter-spacing: -0.01em;}
.test__intro .test_intro_hd .title_cover {display: flex; align-items: center; gap: 15px; font-family: var(--f_nsR);}

.test__intro .test_intro_hd .title_box .btn_wrap {display:flex; gap: 10px; width:85%;}
.test__intro .test_intro_hd .title_box .btn_wrap div {width: 50%;}
.test__intro .test_intro_hd .title_box .btn_wrap .btn {text-align: center; padding: 2rem 0;font-weight: 800; font-size: 2.1rem; font-family: var(--f_nsR);}

.test__intro .test_intro_hd .test_check ul {display:flex; gap: 6rem;}
.test__intro .test_intro_hd .test_check li {display: flex; flex-direction: column; justify-content: flex-end; align-items: center;gap:2rem;font-size:2rem; color: #757575;}
.test__intro .test_intro_hd .test_check li strong {color: #333333;}
.test__intro .test_intro_hd .test_check ul li i {display:block; width: 90px; height: 90px;}
.test__intro .test_intro_hd .test_check ul li i.num1 {background: url(../images/common/ico_img01.svg) no-repeat 50%;}
.test__intro .test_intro_hd .test_check ul li i.num2 {background: url(../images/common/ico_img02.svg) no-repeat 50%;}

.test__intro .test_exp {background: #000e3e; font-family: var(--f_nsR);}
.test__intro .test_exp .checklist {display: flex; align-items: flex-end; justify-content: space-between; width: 100%; height: 308px; padding: 46px 60px; gap: 25px;}
.test__intro .test_exp .box_item {position: relative; height: 215px;}
.test__intro .test_exp .box_item:not(:first-child) {background: rgba(255, 255, 255, 0.1); border-radius: 20px;}
.test__intro .test_exp .box_item .badge.round {position: absolute; top: -14px;}
.test__intro .test_exp .box_item:not(:last-child) .badge {left: 35px;}

.test__intro .test_exp .box_item.num1 {width: 40%;}
.test__intro .test_exp .box_item.num1 h2 {display: block; color: #fff; position: absolute; right: 26px; font-size: 3.2rem; line-height: 36px; bottom: 38px; font-weight: 900;}
.test__intro .test_exp .box_item.num1 h2 span {color:var(--c_skyblue);}
.test__intro .test_exp .box_item.num1 h2::before {position: absolute; display: block; content: ''; height: 156px; width: 114px; left: -120px; bottom: 0;
    background: url(../images/common/test_intro_img02.png) no-repeat;}

.test__intro .test_exp .box_item.num2 {width: 100%; display: flex; flex-direction: row; justify-content: space-between;align-items: center; padding: 50px 30px 20px 35px; gap: 30px;}
.test__intro .test_exp .box_item.num2 ul {width: 100%; display: flex; justify-content: space-between; align-items: center;}
.test__intro .test_exp .box_item.num2 ul li p {color:#fff;}
.test__intro .test_exp .box_item.num2 ul li:first-child .txt_green {font-weight:800; font-size:2rem; line-height:150%; letter-spacing: -0.005em; color: var(--c_skyblue);}
.test__intro .test_exp .box_item.num2 ul li:last-child {width:36%; font-size: 1.5rem;}
.test__intro .test_exp .box_item.num2 ul li:last-child .txt_green {font-weight:800; font-size: 1.6rem; line-height:1; letter-spacing: -0.005em;}
.test__intro .test_exp .box_item.num2 ul li .row_item {display: inline-flex; justify-content: space-between; color:#fff; gap: 12px;;}
.test__intro .test_exp .box_item.num2 ul li .row_item.num1 {margin-bottom:20px;}

.test__intro .test_exp .box_item.num2 ul li .row_item li:not(:first-child) {display: flex;align-items: center;gap: 2px;}
.test__intro .test_exp .box_item.num2 ul li .row_item li i {display: block; width: 25px; height: 25px;}
.test__intro .test_exp .box_item.num2 ul li .row_item li i.prev {background:url(../images/common/ico_key01.svg) no-repeat 50%;}
.test__intro .test_exp .box_item.num2 ul li .row_item li i.next {background:url(../images/common/ico_key02.svg) no-repeat 50%;}
.test__intro .test_exp .box_item.num2 ul li .row_item li i.top {background:url(../images/common/ico_key03.svg) no-repeat 50%;}
.test__intro .test_exp .box_item.num2 ul li .row_item li i.foot {background:url(../images/common/ico_key04.svg) no-repeat 50%;}
.test__intro .test_exp .box_item.num2 ul li .row_item li i.sun.small {background:url(../images/common/sun_small.svg) no-repeat 50%;}
.test__intro .test_exp .box_item.num2 ul li .row_item li i.moon.small {background:url(../images/common/moon_small.svg) no-repeat 50%;}

.test__intro .test_exp .box_item.num3 {width: 35%; display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end; padding: 39px 30px; gap: 10px; isolation: isolate;}
.test__intro .test_exp .box_item.num3 .col_item {width: 100%;}
.test__intro .test_exp .box_item.num3 .col_item .sub_title {display: flex;flex-direction: row;align-items: center;margin-bottom: 15px; color:var(--c_blue); gap: 4px;}
.test__intro .test_exp .box_item.num3 .col_item .sub_title span {font-weight: 900;font-size: 1.6rem;line-height: 18px;}
.test__intro .test_exp .box_item.num3 .col_item .sub_title i {display:block;width:32px;height:32px;background-image: url(../images/common/ico_img03.svg);background-size: 100%;}
.test__intro .test_exp .box_item.num3 .col_item .chart_wrap {display: flex; flex-direction: row; gap: 20px; align-items: center;}
.test__intro .test_exp .box_item.num3 .col_item .chart_wrap .chart_bar {width: 100%; background: #fff; border-radius: 15px; overflow:hidden;}
.test__intro .test_exp .box_item.num3 .col_item .chart_wrap .chart_bar .percent {display: block; width:40%; height: 15px; border-radius: 15px; background: var(--c_blue);}
.test__intro .test_exp .box_item.num3 .col_item .chart_wrap .count_wrap {display: flex; align-items: center; gap: 10px; color:#fff; font-size:1.5rem; line-height: 2.5rem; color: #AFAFAF;}
.test__intro .test_exp .box_item.num3 .col_item .chart_wrap .count_wrap .circle {width:24px; height:24px;background: var(--c_blue);border-radius: 50px;color:#FFF;
    text-align: center; font-weight: 800;}

.test__intro .test_exp .box_item.num4 {width: 22%; display: flex; flex-direction: column; align-items: center;justify-content: flex-end;}
.test__intro .test_exp .box_item.num4 div {margin-bottom:30px;}

/* 진단하기 문제 시작*/
.test__start {width: 100%; background:url(../images/common/sub_bg02.jpg) no-repeat; padding: 35px 45px; font-family: var(--f_nsR);}
.test__start .start__hd {position: relative; width: 100%; display: flex; justify-content: space-between; margin-bottom:20px;}
.test__start .start__hd .start__title {display: flex;align-items: center; gap: 10px;}
.test__start .start__hd .btn_close {right: 0; top: -24px;}
.test__start .start__hd h2 {font-weight: 800; font-size: 3.6rem; line-height: 41px; color:#fff;}
.test__start .start__hd h2 a {color:#fff;}
.test__start .start__hd .sub_txt {color:#fff;font-size: 1.6rem;}

/* 문제 유형 선택 버튼*/
.test__start .start__con {width: 100%;display: flex; flex-direction: column; align-items: flex-start; padding: 30px 50px; background: #FFF; border-radius: 40px;}
.test__start .start__con .tabmenu {display: flex; justify-content: center; gap: 10px;}
.test__start .start__con  .btn_group {display: flex; justify-content: center; gap: 10px;}


/* 문제 출제 박스*/
.start__con .quest_wrap {position: relative; display: flex; justify-content: center; align-items: center; padding:40px 0; font-family: var(--f_nsR); font-weight: 800;}
.start__con .slide_box {z-index: 10;display: flex; flex-direction: column; gap: 20px; width: 80%; margin: auto;}

.quest-box {width:100%; text-align: center; margin:0 auto;}
.quest-box.number {gap: 10px; font-size: 3rem; line-height: 34px;}
.quest_num {display: inline-flex; gap: 10px; line-height: 50px; margin: 0 auto;}
.quest_num span {font-weight: 800; font-size: 3rem; color: var(--c_blue);}

.quest_num.small {justify-content: center; width: 100%; line-height: 30px; font-size: 2rem;} /*진단하기 - 쓰기*/
.quest_num.small span {font-size: 2rem;}

.circle {display: block;border: 1px solid var(--c_blue); border-radius: 100px; text-align: center; color: var(--c_blue); background:var(--c_blue_1);}
.circle.type02 {width: 50px;height: 50px;}
.circle.type03 {width: 30px;height: 30px;}

.quest_item.single {font-size: 33.2rem; line-height: 377px;}
.quest_item.ready {color:#EDEDED;}

.quest_item.group {display: flex; flex-wrap: wrap; gap: 10px;}
.unit {display: flex; flex-direction: column; width: calc(25% - 10px); padding:45px 85px; overflow: hidden; }
.unit.off {border: 1px solid #CACACA; border-radius: 4px;}
.unit.on {border: 1px solid var(--c_blue); border-radius: 4px; background: #F7FAFD; }

.unit.off::after {content:"";display:block; width: 72px; height: 72px; margin:0 auto; background: url(../images/common/play_off.svg) no-repeat;}
.unit.on::after {content:"";display:block; width: 72px; height: 72px; margin:0 auto; background: url(../images/common/play_on.svg) no-repeat;}

/* 정답 표기 버튼*/
.test__start .start__con .answer_box {position: absolute; right: 0;}
.test__start .start__con .answer_box li:first-child {margin-bottom: 155px;}

/* 슬라이드 버튼*/
.test__start .start__con .slide_btn_box {width: 100%; position: absolute;display: inline-flex; justify-content: space-between; height: 102px;}
.test__start .start__con .slide_btn_box div a {width: 102px; height: 102px; display: block;}
.arr-btn.big {position: absolute; width: 102px; height: 102px; overflow: hidden; border-radius: 102px; transition: var(--ani_time);}
.arr-btn.big.prev {left: 0; background:url(../images/common/prev_big.svg) no-repeat 50%;}
.arr-btn.big.next {right: 0; background:url(../images/common/next_big.svg) no-repeat 50%;}
.arr-btn.big.prev:hover {background:url(../images/common/prev_big_ov.svg) no-repeat 50%;}
.arr-btn.big.next:hover {background:url(../images/common/next_big_ov.svg) no-repeat 50%;}

/* 진행단계 그래프*/
.test__start .start__con .stage_nav {display: flex; align-items: center; justify-content: space-between; gap: 20px; }
.test__start .start__con .stage_nav .frame {display: flex;}
.test__start .start__con .stage_nav .frame.num1 {width:75%;}
.test__start .start__con .stage_nav .frame.num2 {position: relative; display: flex; align-items: center; gap: 20px; width: auto; }

#reading .test__start .start__con .stage_nav .frame.num1 {width:80%;}
#writing .test__start .start__con .stage_nav .frame.num1 {width:70%;}

.test__start .start__con .grap__wrap {width: 100%; display: flex; align-items: center; justify-content: space-between; gap: 10px;}
.test__start .start__con .grap__wrap .sub_title {display: inline-flex;}
.test__start .start__con .grap__wrap .sub_title i {display: block; width: 40px;height: 40px;background: url(../images/common/ico_img03.svg) no-repeat;}
.test__start .start__con .grap__wrap .sub_title span {line-height: 4rem; font-size:1.8rem; color: var(--c_blue); font-weight: 800;}
.test__start .start__con .grap__wrap .chart_wrap {display: flex; flex-direction: row; gap: 20px; align-items: center; width:88%;}
.test__start .start__con .grap__wrap .chart_wrap .chart_bar {width: 100%; border-radius: 15px; overflow:hidden; background: #ddd; }
.test__start .start__con .grap__wrap .chart_wrap .chart_bar .percent {display: block; width:40%; height: 15px; border-radius: 15px; background: var(--c_blue);}
.test__start .start__con .grap__wrap .chart_wrap .count_wrap {display: flex; align-items: center; gap: 10px; font-size: 1.6rem; color:#000;}
.test__start .start__con .grap__wrap .chart_wrap .count_wrap span {color:#AFAFAF;font-weight: 800;}
.test__start .start__con .grap__wrap .chart_wrap .count_wrap .circle.type01 {width:24px; height:24px; text-align:center; line-height:24px; border-radius:100px; color:#FFF; background:var(--c_blue);}
.test__start .start__con .grap__wrap.off {display: none;}

/* 문제 저장, 진행단계 활성화 버튼 등*/
.test__start .start__con .btn.stage {display:block; float: left; width: 118px; padding: 0; border-radius: 118px; overflow: hidden; background: initial;}
.test__start .start__con .btn.stage i {display:block; height: 118px; background: url(../images/common/stage_btn_img.svg)no-repeat 50%;}
.test__start .start__con .btn.stage.on > i {background: url(../images/common/stage_btn_img_on.svg)no-repeat 50%;}
.test__start .start__con .btn.save {color:#fff; transition: var(--ani_time); background: var(--c_blue); }
.test__start .start__con .btn.save:hover {background: var(--c_blue_m);}

.test__start .start__con .btn.record {background: #333;}
.test__start .start__con .btn.record:hover {background: #555;}

.test__start .start__con .time_label {font-weight: 800; font-size: 2rem; color: #1F1F1F;}

/* 진행단계 네비게이션 활성화 박스*/
.test__start .start__con .stage__wrap table {display: none; font-size:1.6rem;}
.test__start .start__con .stage__wrap.on {display:block; width:100%;}
.test__start .start__con .stage__wrap.on table {display:block; width:100%;}
.test__start .start__con .stage__wrap.on th, .test__start .start__con .frame .stage__wrap td {width:1%; min-width: 57px;}
.test__start .start__con .stage__wrap.on .thead.type02 th {border-width: 1px 1px 1px 0px; border-style: solid; border-color: #E3EEF3; color: var(--c_blue); background: #F7FAFD; }
.test__start .start__con .stage__wrap.on .tbody.type02 td {border-width: 0px 1px 1px 0px; border-style: solid; border-color: #E3EEF3; background: #FFFFFF; }
.test__start .start__con .stage__wrap.on .thead.type02 th:last-child {border-right:none;}
.test__start .start__con .stage__wrap.on .tbody.type02 td:last-child {border-right:none;}

i.small {display: block; width: 25px; height: 25px; margin: auto;}
i.sun.small {background:url(../images/common/sun_small.svg) no-repeat 50%;}
i.moon.small {background:url(../images/common/moon_small.svg) no-repeat 50%;}

/* ---------------------exam 끝 */
/* result 시작--------------------- */

/* result 컨텐츠 시작*/

.top_box .inner h3 {font-weight: 800; font-size: 1.6rem; color: var(--c_blue); margin-bottom:20px;}
.top_box .inner.type02,
.top_box .inner.type03{gap: 3rem; width:70%; height: 240px; }
.top_box .inner.type02 {justify-content: space-around; padding: 50px; }
.top_box .inner.type03 {justify-content: space-between; padding: 16px 50px;}

.top_box .inner.type02 .group_box {display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 1rem; padding: 0; }
.top_box .inner.type02 .group_box .item {display: flex; }
.top_box .inner.type02 .group_box .item.num2 {align-items: center; gap: 2rem; font-weight: 800; color: var(--c_blue);}
.top_box .inner.type02 .group_box .item.num2 ul li:first-child {margin-bottom:1rem; font-size: 1.6rem;}
.top_box .inner.type02 .group_box .item.num2 ul li:last-child {font-size: 2.4rem;}

.top_box .inner.type02 .report_box {display: flex;justify-content: center; gap: 2rem; width: 100%;}
.top_box .inner.type02 .report_box .item {display: block; text-align: center; width:275px;}
.top_box .inner.type02 .report_box .item .report {padding: 28px 50px; border-radius: 8px; overflow: hidden; font-size: 1.6rem;}
.top_box .inner.type02 .report_box .item .report.num1 {background: var(--c_yellow_2); color: var(--c_yellow_m);}
.top_box .inner.type02 .report_box .item .report.num2 {background: var(--c_pink_2); color: var(--c_pink_m);}
.top_box .inner.type02 .report_box .item .report.num3 {background: var(--c_mint_2); color: var(--c_mint_m);}

.top_box .inner.type02 .report_box .item .report li:not(:last-child) {font-weight: 800; margin-bottom:1rem;}
.top_box .inner.type02 .report_box .item .report li:last-child {font-weight: 400; font-size: 1.6rem; color: #545454;}

.top_box .inner.type02 .report_box .item .report .per {display: flex; justify-content: center; line-height: 3rem; font-size: 2.4rem;}
.top_box .inner.type02 .report_box .item .report .per i {display: block; width:3rem; height: 3rem;}
.top_box .inner.type02 .report_box .item .report .per.num1 i {background:url(../images/common/ico_per01.svg) no-repeat;}
.top_box .inner.type02 .report_box .item .report .per.num2 i {background:url(../images/common/ico_per02.svg) no-repeat;}
.top_box .inner.type02 .report_box .item .report .per.num3 i {background:url(../images/common/ico_per03.svg) no-repeat;}

.top_box .inner.type03 .info_wrap {padding: 35px 0;}
.top_box .inner.type03 .info_wrap ul {display: flex; flex-direction: column; gap: 1rem;}
.top_box .inner.type03 .info_wrap ul .item {display: flex;justify-content: flex-start; gap:1rem;}
.top_box .inner.type03 .info_wrap ul .item span {font-weight: 400; font-size: 1.5rem; color: #545454;}
.top_box .inner.type03 .info_wrap ul .item span:nth-child(3) {right:-25px; }

.top_box .inner.type03 .info_wrap ul .item i {display: block;width: 18px;height: 18px;border-radius: 50px;overflow: hidden;}
.top_box .inner.type03 .info_wrap ul .item.num1 i {background: var(--c_blue);}
.top_box .inner.type03 .info_wrap ul .item.num2 i {background: #F0F6FC;}
.top_box .inner.type03 .info_wrap ul .item.num3 i {background: #929EA9;}
.top_box .inner.type03 .info_wrap ul .item.num4 i {background: #eee;}

#result .std_list .btn_group {position: absolute; right: 0; top: 0;}
#result .std_list .btn_group ul {display: flex; gap: 3rem;}
#result .std_list .btn_group ul li {font-size: 1.6rem;}
#result .std_list .btn_group ul li label {line-height: 4.5rem; cursor: pointer;}
#result .std_list table thead th span.step_tit {margin-left: 20px; cursor: pointer;}
#result .std_list .btn_group ul li label::after {top: 14px;left: -26px; cursor: pointer;} /* 학생개별 진단결과 학급마감 checkbox*/

#result .std_list table thead .th_yellow_1, #result .std_list table thead .th_pink_1, #result .std_list table thead .th_mint_1  {width:7%; padding: 20px 5px;}
#result .std_list thead tr th .th_inner {display: inline-flex; position: relative;}
#result .std_list thead tr th .th_inner label::after {top: 3px;left: -10px; cursor: pointer;} /* 학생개별 진단결과 테이블 thead checkbox*/
#result .std_list tbody tr td .td_inner {display: block; position: relative;}
#result .std_list tbody tr td .td_inner label::after {top: 10px;left: 55px; cursor: pointer;} /* 학생개별 진단결과 테이블 tbody checkbox*/
#result .std_list tbody tr td .td_inner i {margin:0 50%; cursor: pointer;}
#result .std_list tbody tr td .td_inner i.more {margin:0 45%;}

#result .table_wrap tbody .select.type02 strong {height: 38px; display: block; line-height: 5.5rem;}
#result .table_wrap tbody .select.type02 strong a {display: inline-block;}


/* checkbox 커스텀*/
input[type="checkbox"] {display: none;}
input[type="checkbox"] + label::after {content: '';display: block;width: 16px;height: 16px;position: absolute;background: url(../images/common/checkbox.svg) no-repeat;}
input[type="checkbox"]:checked + label::after {content:'';background: url(../images/common/checkbox_on.svg) no-repeat;}

/* select 타입별*/
/* 공통*/
.select {position: relative; margin: auto; border: none; border-radius: 4px;}
.select .lay {width: 100%;}
.select .lay strong {display: block; width: 100%; height: 100%;}
.select .lay a {display: block; position: relative; width: 100%; font-size: 1.6rem; font-weight: 800;}
.select .lay a::after {content: ""; display: block; position: absolute; transform: rotate(0deg); -webkit-transform: rotate(0deg); transition: all var(--ani_time) ease;
    -webkit-transition: all var(--ani_time) ease;}
.select.on .lists {display: block; position: absolute; width: 100%; z-index: 10; border: 1px solid #E3EEF3; overflow-y: scroll;}
.select .lists {display: none; background: #fff;}
.select .lists ul li {text-align: center;}
.select .lists ul li a {display: block; height: 48px; line-height: 48px; text-align: left;}
.select .lists ul li a:hover {background: var(--c_blue_1);}

/* select type01 :: 사용영역(헤더)*/
.select.type01 {width: 24rem; height: 4.8rem; background:var(--c_blue_m); border: none;}
.select.type01 .lay {height: 4.8rem; border: none; background: transparent; border-radius:0; border-radius: 4px;}
.select.type01 .lay a {display:flex;align-items:center;height: 4.8rem; line-height:1; padding: 0 20px; color: #fff;}
.select.type01 .lay a::after {right: 15px; top: 10px; width: 24px; height: 24px;background: url(../images/common/arrow_under_w.svg) no-repeat 50%;}
.select.type01 .lists ul li a {padding-left: 20px;}
.select.type01.on .lay a::after {transform: rotate(180deg);-webkit-transform: rotate(180deg);}
.select.type01.on .lists {max-height: 200px; border-radius: 3px;}

/*  select type02 :: 사용영역(학생목록)*/
.select.type02 {width: 70px; height: 40px;}
.select.type02 .lay {height: 40px; border: 0;background-color: #fff; border-radius: 8px; border: 1px solid #E3EEF3;}
.select.type02 .lay a {height: 40px; line-height: 40px; padding: 9px 0 0;}
.select.type02 .lay a::after {right: 4px; top: 8px; width: 20px; height: 20px;background: url(../images/common/arrow_down.svg) no-repeat 50%;}
.select.type02.on .lay a::after {transform: rotate(180deg);-webkit-transform: rotate(180deg);}
.select.type02.on .lists {border-radius: 8px; height: 82px; overflow: hidden;}
.select.type02 .lists ul li a {height: 40px; border-top: 1px dotted #E3EEF3; padding: 9px 0 0 0;}
.select.type02 .lists ul li:first-child a {border-top:none;}
.select.type02 i {margin: 0 20px;}


/*  select type03 :: 사용영역(진단결과)*/
.select.type03 {width: 240px; height: 48px;}
.select.type03 .lay {height: 48px; border: 1px solid var(--c_blue); border-radius: 4px;}
.select.type03 .lay a {height: 48px; line-height: 48px; padding: 0 20px; color: var(--c_blue);}
.select.type03 .lay a::after {right: 15px; top: 10px; width: 24px; height: 24px; background: url(../images/common/arrow_under_blue02.svg) no-repeat;}
.select.type03.on .lay a::after {transform: rotate(180deg);-webkit-transform: rotate(180deg);}
.select.type03.on .lists {max-height: 200px; border-radius: 3px;}
.select.type03 .lists ul li a {font-size: 1.5rem; padding-left: 20px;}





/* 결과 popup 공통규격 */
.popupwrap{position:relative;display:flex;flex-direction:column;gap:2rem;max-width:120rem;width:100%;margin:0 auto;padding:9rem 6rem 10rem;border-radius:.8rem;border:.3rem solid var(--c_blue);background:#fff;}
.popupwrap *{font-size:1.5rem}
.popupwrap .bn_close{position:absolute;right:6rem;top:4rem;}

/* 진단결과 popup */
.result-pop h1{display:flex;gap:2rem;justify-content:center;margin-bottom:7rem;color:var(--c_blue);font-family:var(--f_nsN);font-size:3.6rem;font-weight:900;}
.result-pop h1::before{content:"";display:block;width:13.8rem;height:3.7rem;background:url(../images/common/logo_blue.svg) no-repeat;}
.result-pop section{width:100%;;border-radius:1rem;border:1px solid var(--line_gray);overflow:hidden;}
.result-pop section h2{display:flex;align-items:center;gap:1rem;padding:2rem 3.2rem;font-size:2rem;font-weight:700;color:#545454;background:#f6f6f6;}
.result-pop section h2::before{content:"";display:block;width:3.2rem;height:3.2rem;background:url(../images/contents/ico_tit01.svg) no-repeat;}
.result-pop section .wrapper{padding:5rem 4rem}
.result-pop section.con2 h2::before{background-image:url(../images/contents/ico_tit02.svg);}
.result-pop section.con3 h2::before{background-image:url(../images/contents/ico_tit03.svg);}
.result-pop section.con4 h2::before{background-image:url(../images/contents/ico_tit04.svg);}

.result-pop section.con1 .wrapper{display:flex;gap:4rem;position:relative;padding-left:17rem;}
.result-pop section.con1 .wrapper::before{content:"";position:absolute;left:4rem;top:50%;display:block;width:9rem;height:9rem;transform:translateY(-50%);background:url(../images/contents/img_titico.svg)}
.result-pop section.con1 .wrapper dl{display:flex;flex-wrap:wrap;}
.result-pop section.con1 .wrapper dl dd{display:flex;gap:1rem;margin:0;padding:1rem 2rem 0 0;}
.result-pop section.con1 .wrapper dl dd.wide{width:100%;}
.result-pop section.con1 .wrapper dl:last-child{gap:1.6rem;flex-wrap:nowrap;width:100%;}
.result-pop section.con1 .wrapper dl:last-child dd{flex-direction:column;flex-basis:100%;align-items:center;padding:1.8rem;border:1px solid var(--line_gray);border-radius:.4em;color:#333;}
.result-pop section.con1 .wrapper dl:last-child dd span.date{padding:.8rem}

.result-pop section.con4 .wrapper{display:flex;gap:4rem}
.result-pop section.con4 article h3{display:inline-block;padding:1rem 1.6rem;color:#fff;border-radius:10rem;font-size:1.5rem;background:var(--c_mint_m);}
.result-pop section.con4 article:last-child h3{background:var(--c_blue_m)}
.result-pop section.con4 article p{margin:1rem .8rem 0;line-height:1.5;color:#757575}

/*  누가 popup */
.nuga-pop {max-width:153rem;}
.nuga-pop h1{display:flex;align-items:center;gap:2rem;font-size:2.4rem;color:#545454;}
.nuga-pop h1::before{content:"";display:block;width:4.8rem;height:4.8rem;background:url(../images/contents/img_titico2.svg) no-repeat;}
.nuga-pop h2{margin:3rem 1rem 0;font-size:2.4rem;color:#545454;}

.nuga-pop .con1{display:flex;justify-content:space-between;padding:5rem;border:1px solid var(--line_gray);border-radius:1rem;}
.nuga-pop .con1 article{display:flex;flex-direction:column;justify-content:center;}
.nuga-pop .con1 article h3{position:relative;text-align:center;}
.nuga-pop .con1 article h3 span{z-index:10;position:relative;display:inline-block;margin:0 auto 2rem;padding:1.2rem 2.8rem;color:#fff;border-radius:6rem;background:var(--c_blue);}

.nuga-pop .con1 article h3::before{z-index:0;content:"";display:block;position:absolute;top:2rem;left:0;width:100%;height:3rem;border:1px solid var(--c_blue);border-bottom:0;}
.nuga-pop .con1 article ul{display:flex;}
.nuga-pop .con1 article ul li{display:flex;flex-direction: column;text-align: center;}
.nuga-pop .con1 article ul li span,
.nuga-pop .con1 article ul li b{padding:1.6rem 2rem;border:1px solid #E3EEF3;border-left:0;border-top:0;}
.nuga-pop .con1 article ul li:first-child span,
.nuga-pop .con1 article ul li:first-child b{border-left:1px solid #E3EEF3;}
.nuga-pop .con1 article ul li b{font-size:1.5rem;font-weight:400;line-height:1.5;color:var(--c_blue);border-top:1px solid #E3EEF3;background:#F7FAFD;}


/* 학습하기 popup*/
.video {width:80%; background: #838E99;padding: 210px 0; margin: 0 auto;}
.video .btn-play {display: block; width: 10rem; height: 10rem; margin:0 auto; border-radius: 10rem; border: 1px solid #fff; background: url(../images/common/bn_vod_play.svg) no-repeat 50%;}

/* 타이틀 badge */
.bg-gray {background: #929EA9;}
.tx-gray {color:#929EA9;}
.tx-blue {color:var(--c_blue);}

.badge.small {border-radius: 8px; padding: 7px; font-size: 2rem; line-height: 23px; font-weight: 700; background-color:#fff;}
.badge.big {border-radius: 8px; padding: 1rem; font-size: 5.8rem; line-height: 1; font-weight: 700; color:#fff; background:var(--c_blue);}
.badge.round {border-radius: 20px; padding: 8px 12px; font-size:1.6rem;font-weight:800; color:var(--c_deepblue); background:var(--c_skyblue);}


/* 우리학급현황 */
#classwrap *{font-size:1.5rem;}
#classwrap .inner{flex-direction:column;justify-content:space-between;align-items:flex-start;width:auto;height:auto;padding:5rem 4rem;gap:1rem}
#classwrap .inner:first-child .info_wrap{display:flex;gap:4rem}
#classwrap .inner.type02{width:33%}
#classwrap .inner.type03{width:33%}
#classwrap .inner.type03 .info_wrap{display:flex;align-items:center;justify-content:space-between;width:100%;padding:0;}
#classwrap .inner h3{margin-bottom:0;}
#classwrap .inner .info_wrap .graphwrap{display:flex;gap:2rem}
#classwrap .inner .info_wrap .graphwrap b{display:flex;justify-content:center;align-items:center;width:3.6rem;height:3.6rem;font-size:1.5rem;border-radius:4rem;}
/* 컬러별적용 */
#classwrap .inner .info_wrap .graphwrap .step1{color:var(--c_yellow)}
#classwrap .inner .info_wrap .graphwrap .step2{color:var(--c_pink)}
#classwrap .inner .info_wrap .graphwrap .step3{color:var(--c_mint)}
#classwrap .inner .info_wrap .graphwrap .step1 b{background:var(--c_yellow_1)}
#classwrap .inner .info_wrap .graphwrap .step2 b{background:var(--c_pink_1)}
#classwrap .inner .info_wrap .graphwrap .step3 b{background:var(--c_mint_1)}
#classwrap .inner .info_wrap .graphwrap .step1 .chart-skills span{border-color:var(--c_yellow)}
#classwrap .inner .info_wrap .graphwrap .step2 .chart-skills span{border-color:var(--c_pink)}
#classwrap .inner .info_wrap .graphwrap .step3 .chart-skills span{border-color:var(--c_mint)}

.chart-skills {position:relative;width: 175px;height:87px;margin: 0 auto; padding: 0;overflow:hidden;}
.chart-skills *,
.chart-skills::before {box-sizing: border-box;}
.chart-skills::before {content: '';position: absolute;width: inherit; height: inherit;border: 45px solid rgba(211, 211, 211, .3);border-bottom: none;border-top-left-radius: 175px; border-top-right-radius: 175px;}
.chart-skills span {display:inline-block;z-index: 4;position: absolute;top: 100%;left: 0;width: inherit;height: inherit;border: 45px solid;border-top: none;border-bottom-left-radius: 175px;border-bottom-right-radius: 175px;transform-origin: 50% 0;border-color: green;font-size:0!important;}
.chart-skills span {animation-duration:.5s;animation-timing-function:linear;animation-iteration-count:1;animation-fill-mode:forwards;}
.chart-skills span.per10 {animation-name:chartAni1}
.chart-skills span.per20 {animation-name:chartAni2}
.chart-skills span.per30 {animation-name:chartAni3}
.chart-skills span.per40 {animation-name:chartAni4}
.chart-skills span.per50 {animation-name:chartAni5}
.chart-skills span.per60 {animation-name:chartAni6}
.chart-skills span.per70 {animation-name:chartAni7}
.chart-skills span.per80 {animation-name:chartAni8}
.chart-skills span.per90 {animation-name:chartAni9}
.chart-skills span.per100 {animation-name:chartAni10}


@keyframes chartAni1{
    0%{transform: rotateZ(0);}
    26%{transform: rotateZ(20deg)}
    100%{transform: rotateZ(20deg)}
}
@keyframes chartAni2{
    0%{transform: rotateZ(0);}
    26%{transform: rotateZ(20deg);}
    30%{transform: rotateZ(30deg);}
    100%{transform: rotateZ(30deg);}
}
@keyframes chartAni3{
    0%{transform: rotateZ(0);}
    30%{transform: rotateZ(30deg)}
    60%{transform: rotateZ(40deg)}
    100%{transform: rotateZ(40deg)}
}
@keyframes chartAni4{
    0%{transform: rotateZ(0);}
    30%{transform: rotateZ(30deg)}
    60%{transform: rotateZ(50deg)}
    100%{transform: rotateZ(60deg)}
}
@keyframes chartAni5{
    0%{transform: rotateZ(0);}
    30%{transform: rotateZ(50deg)}
    60%{transform: rotateZ(70deg)}
    100%{transform: rotateZ(90deg)}
}
@keyframes chartAni6{
    0%{transform: rotateZ(0);}
    30%{transform: rotateZ(50deg)}
    60%{transform: rotateZ(100deg)}
    100%{transform: rotateZ(120deg)}
}
@keyframes chartAni7{
    0%{transform: rotateZ(0);}
    30%{transform: rotateZ(50deg)}
    60%{transform: rotateZ(120deg)}
    100%{transform: rotateZ(150deg)}
}
@keyframes chartAni8{
    0%{transform: rotateZ(0);}
    30%{transform: rotateZ(50deg)}
    60%{transform: rotateZ(140deg)}
    100%{transform: rotateZ(160deg)}
}
@keyframes chartAni9{
    0%{transform: rotateZ(0);}
    30%{transform: rotateZ(50deg)}
    60%{transform: rotateZ(150deg)}
    100%{transform: rotateZ(170deg)}
}
@keyframes chartAni10{
    0%{transform: rotateZ(0);}
    30%{transform: rotateZ(50deg)}
    60%{transform: rotateZ(100deg)}
    100%{transform: rotateZ(180deg)}
}
/* 그래프테이블 */
.tbl_graph thead th,
.tbl_graph tbody th,
.tbl_graph tbody td{padding:.8rem .8rem;font-size:1.5rem;border-color:#fff;border-width:.2rem;}
.tbl_graph thead th{color:#757575;background:none}
.tbl_graph tbody td{border-radius:.4rem;background:#f6f6f6;}
.tbl_graph tbody .step1{color:var(--c_yellow)}
.tbl_graph tbody .step2{color:var(--c_pink)}
.tbl_graph tbody .step3{color:var(--c_mint)}
.tbl_graph tbody .test-end{color:var(--c_blue)}

/* 미해득 막대그래프 */
.missgraph{display:flex;flex-direction:column;gap:1rem;width:100%;}
.missgraph li{display:flex;align-items:center;}
.missgraph li b{width:4rem;color:#929EA9;}
.missgraph li .linewrap{width:calc(100% - 12rem);padding:1rem;border:1px solid #e2e2e2}
.missgraph li .graph_line{display:block;height:1.4rem;font-size:0!important;background:#929EA9}
.missgraph li .graph_line.w0{width:0%;}
.missgraph li .graph_line.w10{width:10%;}
.missgraph li .graph_line.w20{width:20%;}
.missgraph li .graph_line.w30{width:30%;}
.missgraph li .graph_line.w40{width:40%;}
.missgraph li .graph_line.w50{width:50%;}
.missgraph li .graph_line.w60{width:60%;}
.missgraph li .graph_line.w70{width:70%;}
.missgraph li .graph_line.w80{width:80%;}
.missgraph li .graph_line.w90{width:90%;}
.missgraph li .graph_line.w100{width:10%;}
.missgraph li em{display:flex;gap:1rem;justify-content:flex-end;width:8rem;font-style: normal;color:#929EA9}
.missgraph li em span{color:#545454}


