@charset "UTF-8";

.question_wrapper{max-width:1024px;width:100%;height:100vh;margin:0 auto;background:var(--c_bg_gray_m)}
.question_wrapper > .layout{position:relative;display:flex;flex-direction:column;gap:10px;height:100%;padding:0 30px;}
.question_wrapper header{position:relative;display:flex;color:#fff;border-radius:0 0 16px 16px;overflow:hidden;background:var(--c_primary);}

/* type-mq/dq */
.question_wrapper.type-mq header{background:var(--c_primary);}
.question_wrapper.type-dq header{background:var(--c_gray50);}
.question_wrapper.subject_kor header{background:var(--c_mint)}
/* type-mq/dq */

.question_wrapper header h2{padding:39px 28px;background:var(--c_primary_m);}
.question_wrapper header h2 span{display:block;width:118px;height:32px;font-size:0;background:url(/images/common/tit_q1.svg) no-repeat;}
.question_wrapper header .titwrap{display:flex;flex-direction:column;justify-content:center;gap:8px;padding:26px;}
.question_wrapper header .titwrap h3{display:flex;align-items:center;gap:4px;font-size:20px;font-weight:800;}
.question_wrapper header .titwrap h3 em{padding:6px;font-size:14px;border-radius:4px;border: 1px solid var(--c_white_p60);font-weight:800;line-height:1;}
.question_wrapper header .titwrap p{font-size:12px;font-weight:300;}
.question_wrapper header .titwrap .q_info{position:absolute;right:28px;display:flex;align-items:center;gap:4px}
.question_wrapper header .titwrap .q_info span{display:flex;padding:8px 12px;align-items: center;gap:4px;border-radius:8px;border:2px solid var(--c_white_p40);color:var(--c_white_p40);font-size:14px;line-height:20px;}
.question_wrapper header .titwrap .q_info span.time{color:#fff;}
.question_wrapper header .titwrap .q_info span.time i{display:block;width:20px;height:20px;background:url(/images/common/ico_clock.svg) no-repeat;}
.question_wrapper header .titwrap .q_info span.count em{color:#fff;}

/* 문항문구 */
.question_wrapper section{display:flex;flex-direction:column;height:calc(100vh - 121px);}
.question_wrapper section .q_tit{display:flex;align-items:center;;padding: 22px 40px 19px 40px;gap:4px;font-size:17px;color:var(--c_gray70);border-radius:30px 30px 0 0;border-bottom:4px solid #fff;background:var(--c_bg_gray);}
.question_wrapper section .q_tit em{display:inline-flex;align-items:center;gap:3px;margin-right:20px;padding: 10px 13px 10px 15px;color:#fff;font-size:14px;border-radius: 10px;background:var(--c_gray50);}
.question_wrapper section .q_tit em i{display:flex;align-items:center;justify-content:center;min-width:24px;height:24px;padding:0 1px;border-radius:20px;font-size:15px;color:var(--c_gray50);font-family:var(--f_nsR);line-height:1;background:#fff;}
.question_wrapper section .q_tit .txt{display:flex;flex-wrap:wrap;align-items:center;width:calc(100% - 116px);line-height:1.4}
.question_wrapper section .q_tit .txt img{margin:0 4px;}
.question_wrapper section > .layout{display:flex;flex-direction:column;gap:40px;height:calc(100% - 10px);padding:40px;background:#fff;overflow:auto}
/* row-layout(기본 4:6 비율) */
.question_wrapper section > .layout.row{flex-direction:row;gap:40px;padding:40px;}
.question_wrapper section > .layout.row .q_wrap{width:calc(40% - 40px);}
.question_wrapper section > .layout.row .a_wrap{flex-direction:column;justify-content:flex-start;width:60%;}
/* row-layout(5:5비율) */
.question_wrapper section > .layout.row.w50 .q_wrap,
.question_wrapper section > .layout.row.w50 .a_wrap{width:50%}
.question_wrapper section .q_txt{display:flex;align-items:center;margin-bottom:20px;font-size:14px;}
.question_wrapper section .q_txt i{display:block;width:24px;height:29px;background:url(/images/common/ico_hand.svg) no-repeat;}

/* a_wrap rowlayout */
.question_wrapper section > .layout .a_wrap.flex-row{align-items:flex-start;}
.question_wrapper section > .layout .a_wrap.flex-row > div{display:flex;flex-direction:column;align-items:center;gap:10px;}
.question_wrapper section > .layout .a_wrap.flex-row > div:last-child{margin-left:65px;padding-left:65px;border-left:1px solid var(--c_gray40)}

/* 문구보기/답변 */
.question_wrapper section .wrap{display:flex;align-items:center;justify-content:center;gap:50px;padding:50px 50px;border-radius:24px;}
.question_wrapper section .q_wrap{border:1px solid var(--c_gray40);background:var(--c_bg_gray);}
.question_wrapper section .a_wrap{border:2px dashed var(--c_primary);}

/* 문항에 인풋띄우기 */
.question_wrapper section .q_wrap .imgwrap{position:relative;display:inline-flex;align-items:center;gap:12px;}
.question_wrapper section .q_wrap .imgwrap .shape_sq{position:absolute;height:32px;background:#fff}

.question_wrapper section img{max-width:100%;mix-blend-mode: darken;}
/* 문항질문내용 중 박스 */
.shape_sq{display:inline-block;width:36px;height:28px;margin:0 2px;border-radius: 4px;border:2px solid var(--c_gray70);}
.shape_sq.on{border-color:var(--c_primary)!important;}

.question_wrapper section input[type="text"],
.question_wrapper section input::placeholder{text-align:center;}
.question_wrapper section .designSelect{display:inline-block;margin:4px 0;}


.designBox{display:flex;align-items:center;gap:30px;flex-wrap:wrap;}
.designBox li{display:flex;align-items:center;gap:20px;flex-wrap:wrap;}
.designBox li em{display:inline-flex;align-items:center;justify-content:center;margin:0 2px;padding:10px 14px;border-radius: 4px;border:2px solid var(--c_gray70);}
.designBox li em.on{color:var(--c_primary);border-color:var(--c_primary)}

.hotspot.designRadio input[type="radio"] + label{margin:0 1.4px}
.hotspot.designRadio input[type="radio"] + label:before{background-image:url(/images/common/img_hotspot.png);background-color:transparent}

/* 저장후다음문제 */
.question_wrapper .btn{position:fixed;bottom:20px;right:0;z-index:100;gap:8px;padding:12px 16px 12px 33px;font-weight:800;border-color:var(--c_primary_m);border-radius:40px 0 0 40px;background:var(--c_primary_m)}
.question_wrapper .btn i{display:block;width:32px;height:32px;background:url(/images/common/ico_cir_arr.svg) no-repeat}




/* 문항보기의 이미지에 input 띄우기 - width, height, position값을 해당 페이지별로 준다 */
#math_msh2_mq1_14.question_wrapper section .q_wrap .imgwrap .shape_sq{left:68px;top:78px;width:136px;height:50px;}
#math_msh3_dq1_5.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(1){left:36px;top:30px;width:40px}
#math_msh3_dq1_5.question_wrapper section .q_wrap .imgwrap .shape_sq{left:116px;top:100px;width:40px}
#math_msh1_mq1_2.question_wrapper section .a_wrap input[type="text"]{width:122px}

#math_msh2_mq4_8.question_wrapper section .q_wrap ol{flex-direction:row;width:100%;}
#math_msh2_mq4_8.question_wrapper section .q_wrap ol li{display:flex;flex-direction:column;gap:20px;align-items:center;width:33.3%;text-align:center;line-height:1.4}
#math_msh2_mq4_8.question_wrapper section .q_wrap ol li .shape_sq{position:relative;width:100%;min-height:200px;height:calc(100% - 112px);border-style:dashed;border-color:var(--c_gray40);background:#fff}
#math_msh2_mq4_8.question_wrapper section .q_wrap ol li .shape_sq::before{content:'';position:absolute;left:50%;bottom:-20px;transform:translateX(-50%);display:block;width:102px;height:50px;background:url(/images/question/math_msh2_mq4_8_bg.png) no-repeat}
#math_msh2_mq4_8.question_wrapper section .a_wrap{gap:4px;}
#math_msh2_mq4_8 .designBox li em{min-width:110px;height:125px;}


#math_msh3_dq1_3.question_wrapper section img{margin-top:12px;}


#math_msh2_dq3_3.question_wrapper section .q_wrap ol{flex-direction:row;width:100%;}
#math_msh2_dq3_3.question_wrapper section .q_wrap ol > li{display:flex;flex-direction:column;gap:20px;align-items:center;width:33.3%;text-align:center;font-weight:900}
#math_msh2_dq3_3.question_wrapper section .q_wrap ol > li .hotspot{position:relative;display:flex;align-items:center;justify-content:center;flex-wrap:wrap;gap:6px;width:210px;height:210px;padding:45px 43px;background:url(/images/question/math_msh2_dq3_3_q.png) no-repeat}

#math_msh2_dq3_3.question_wrapper section .a_wrap{gap:4px;}
#math_msh2_dq3_3 .designBox li em{min-width:110px;height:125px;}